@import "../../../styles/colors.scss";

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: $footer-background;
  background-image: url(/assets/images/social_icons/bg-contours.svg);
}

.contacts_items {
  width: 330px;
  margin: 5px 0px;
  padding: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  list-style-type: none;
  font-size: 1.2rem;
}

.contact-link {
  text-decoration: none;
  color: $link-color;
  padding-left: 12px;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-link:hover {
  color: $hover-link-color;
}
