<section>
  <h4 class="contacts_title">{{ 'footer.name' | translate }}</h4>
  <ul class="contacts_items" *ngFor="let contact of contacts">
    <li class="contact-item">
      <i class="{{ contact.icon }}"></i>
      <a *ngIf="contact.option" class="contact-link" href="{{ contact.link }}" download>{{ contact.name | translate }}</a>
      <a *ngIf="!contact.option" class="contact-link" href="{{ contact.link }}">{{ contact.name | translate }}</a>
    </li>
  </ul>
  <h4 class="contacts_title">{{ 'footer.subname' | translate }}</h4>
  <ul class="contacts_items" *ngFor="let network of socialNetworks">
    <li class="contact-item">
      <i class="{{ network.icon }}"></i>
      <a class="contact-link" href="{{ network.link }}" target="_blank" rel="noopener">{{ network.name }}</a>
    </li>
  </ul>
</section>