<div class="home">
  <figure class="container home__laptop">
    <img class="rectangle" src="assets/images/logo_laptop.jpg" alt="logo_laptop">
  </figure>
  <article class="container">
    <h3 class="home__subname">{{ 'home.position' | translate }}</h3>
    <h1 class="home__name">{{ 'home.name' | translate }}</h1>
    <figure class="home__phone">
      <img class="circle" src="assets/images/logo_phone.jpg" alt="logo_phone">
    </figure>
    <figure class="home__tablet">
      <img class="circle" src="assets/images/logo_tablet.jpg" alt="logo_tablet">
    </figure>
    <div class="home__description">
      <p>&nbsp;{{ general }}</p>
    </div>
    <!-- <div class="home__description">
      <h4 class="home__description-title">{{ 'home.education.title' | translate }}</h4>
      <ul *ngFor="let item of education">
        <li>{{ item | translate }}</li>
      </ul>
      <h4 class="home__description-title">{{ 'home.experience.title' | translate }}</h4>
      <ul *ngFor="let item of experience">
        <li>{{ item | translate }}</li>
      </ul>
      <h4 class="home__description-title">{{ 'home.technology.title' | translate }}</h4>
      <ul *ngFor="let item of technology">
        <li class="technology_level">{{ item.technology }}
          <div>
            <i *ngFor="let star of item.level" class="lt-icon-star"></i>
          </div>
        </li>
      </ul>
    </div> -->
  </article>
</div>