@import "../../styles/colors.scss";

.home {
  display: flex;
  justify-content: center;
  background-color: $home-background;
  background-image: url(/assets/images/social_icons/bg-contours.svg);
  color: $home-text-color;
}

.container {
  max-width: 600px;
  width: 50%;
  margin: 15px;
}

.home__phone {
  display: none;
  justify-content: center;
  margin-top: 30px;
}

.home__subname {
  text-align: center;
  font-size: 1.6em;
}

.home__name {
  font-size: 2.2em;
  text-align: center;
  margin: 0;
}

.home__description {
  padding: 15px;
  text-align: justify;
  line-height: 1.4;

  ul {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    list-style-type: none;
  }

  p {
    font-size: 1.4em;
  }
}

.home__tablet {
  display: none;
  justify-content: center;
  margin-top: 30px;
}

.home__description-title {
  text-align: center;
  margin: 10px 0;
}

.technology_level {
  display: flex;
  justify-content: space-between;
}

.rectangle {
  width: 100%;
}

.circle {
  border-radius: 50%;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
  
  .home__laptop {
    display: none;
  }

  .home__tablet {
    display: flex;
  }
}

@media (max-width: 768px) {
  .home__tablet {
    display: none;
  }

  .home__phone {
    display: flex;
  }
}