@import "../../styles/colors.scss";

.languages {
	width: 100%;
}

.change-language {
	width: 100px;
	height: 40px;
	margin: 0 2px;
	font-size: 16px;
	font-weight: 900;
	border-radius: 4px;
	border: none;
}

.unactive {
	background-color: $link-color;
	color: $header-text-color;
}

.active {
	background-color: $header-text-color;
	color: $link-color;
}

@media (max-width: 768px) {
	.languages {
		padding-top: 5px;
	}
}