@import "../../styles/colors.scss";

.projects {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.projects__title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.projects__my-works-right {
  display: flex;
  margin-top: 20px;
}

.projects__my-works-left {
  display: flex;
  margin-top: 20px;
  flex-direction: row-reverse;
  justify-content: center;
}

.projects__container {
  width: 48% !important;
  margin: 8px 1% !important;
  display: inline-block !important;
}

.projects__my-work_slide-name {
  display: flex;
  justify-content: center;
}

.projects__my-work_slide-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: $link-color;
}

.projects__my-work_slide-link:hover {
  color: $hover-link-color
}

.projects__my-work_description {
  opacity: 0.8;
  text-align: justify;
}

.projects__my-work_img {
  width: 100% !important;
}

@media (max-width: 768px) {
  .projects__my-works-left,
  .projects__my-works-right {
    display: block;
    margin-top: 20px;
  }
  
  .projects__container {
    width: 100% !important;
    margin: 0 !important;
    display: block !important;
  }
}