<div class="container search">
    <div class="row">
        <div class="col-md-6">
            <h1>Products</h1>
        </div>
        <div class="col-md-4">
            <input  type="text" class="form-control" placeholder="Search" [(ngModel)] = "searchStr">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="button" (click)="newModal()">+ Add new</button>
        </div>
    </div>
</div>

<div class="container show-new-modal" *ngIf="this.showNewModal === true">
    <div class="row">
        <div class="col-md-11"><h2>Add new product:</h2></div>
        <div class="col-md-1" (click)="closeNewModal()">&times;</div>
    </div>
    <div class="row">
        <h6 class="col-md-4">Color logo</h6>
        <input class="col-md-8" type="text" class="form-control" [(ngModel)] = "newProduct.logo">
        <h6 class="col-md-4">Color image</h6>
        <input class="col-md-8" type="text" class="form-control" [(ngModel)] = "newProduct.image">
        <h6 class="col-md-4">Product name</h6>
        <input class="col-md-8" type="text" class="form-control" [(ngModel)] = "newProduct.name">
        <h6 class="col-md-4">Company name</h6>
        <input class="col-md-8" type="text" class="form-control" [(ngModel)] = "newProduct.company">
        <h6 class="col-md-4">Description</h6>
        <input class="col-md-8" type="text" class="form-control" [(ngModel)] = "newProduct.description">
        <h6 class="col-md-4">Full description</h6>
        <input class="col-md-8" type="text" class="form-control" [(ngModel)] = "newProduct.modal">
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="closeNewModal()">DECLINE</button>
            <button class="btn btn-primary" (click)="addNewProduct()">ADD</button>
        </div>
    </div>
</div>

<div *ngIf="this.products.length !== 0">
    <div class="container">
        <div class="row">
            <app-product class="col-md-4" 
                *ngFor="let product of this.products | search:searchStr"
                [product] = "product"
            ></app-product>
        </div>
    </div>
</div>

<div *ngIf="this.localProducts.length !== 0">
    <div class="container">
        <div class="row">
            <app-product class="col-md-4" 
                *ngFor="let product of this.localProducts | search:searchStr"
                [product] = "product"
            ></app-product>
        </div>
    </div>
</div>

<div class="container show-modal" *ngIf="this.showNewModal === true">
    <div class="row">
        <div class="col-md-11"><h2>Permissions</h2></div>
        <div class="col-md-1" (click)="closeDetails()">&times;</div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna wirl aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisinuli.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="closeDetails()">DECLINE</button>
            <button class="btn btn-primary" (click)="deleteDetails()">ACCEPT</button>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="/invento-labs/page1">1</a></li>
            <li class="page-item"><a class="page-link" href="/invento-labs/page2">2</a></li>
            <li class="page-item"><a class="page-link" href="/invento-labs/page3">3</a></li>
            <li class="page-item"><a class="page-link" href="/invento-labs/page4">4</a></li>
            <li class="page-item">
                <a class="page-link" href="/">Next page</a>
            </li>
        </ul>
    </nav>
</div>
