<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Products</h1>
        </div>
        <div class="col-md-4">
            <input  type="text" class="form-control" placeholder="Search" [(ngModel)] = "searchStr">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="button">+ Add new</button>
        </div>
    </div>
</div>

<div class="container show-modal" *ngIf="this.show === false">
    <div class="row">
        <div class="col-md-11"><h2>Permissions</h2></div>
        <div class="col-md-1" (click)="closeDetails()">&times;</div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna wirl aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisinuli.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="closeDetails()">DECLINE</button>
            <button class="btn btn-primary" (click)="deleteDetails()">ACCEPT</button>
        </div>
    </div>
</div>

<div *ngIf="this.products.length !== 0">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of this.products | search:searchStr">
                <div class="product-card">
                    <div class="header-product">
                        <div class="logo" style.background-color={{product.logo}}></div>
                        <div class="name">
                            <div class="product-name">{{product.name}}</div>
                            <div class="product-company">{{product.company}}</div>
                        </div>
                        <div class="delete" (click)="showDetails(this.products.indexOf(product))" id="{{this.products.indexOf(product)}}">&times;</div>
                    </div>
                    <div class="image" style.background-color={{product.image}}></div>
                    <div class="product-description">{{product.description}}</div>
                    <div class="actions">
                        <div class="action1">{{product.action1}}</div>
                        <div class="action2">{{product.action2}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next page</a>
            </li>
        </ul>
    </nav>
</div>
