.search {
    h1 {
        padding: 32px 8px;
        font-size: 32px;
        color: rgba(72, 72, 72, 1);
    }
    input {
        margin-top: 44px;
    }
    .btn {
        margin-top: 44px;
        background-color: rgba(169, 129, 204, 1);
        position: absolute;
        right: 16px;
    }
}
.show-new-modal {
    width: 640px;
    padding: 19px 16px 16px 24px;
    background-color: rgba(255, 255, 255, 1);  
    border: solid;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 27%;
    z-index: 1;
    .btn-light {
        font-size: 14px;
        color: rgba(196, 175, 201, 1);
    }
    .btn-primary {
        font-size: 14px;
        background-color: rgba(169, 129, 204, 1);
        color: rgba(255, 255, 255, 1);
    }
}
@media (max-width: 767px) {  
    .search {
        h1 {
            padding-bottom: 12px;
        }
        input {
            margin: 0 0 17px;
        }
        .btn {
            top: -157px;
        }
    }
}