.search {
    h1 {
        padding: 32px 8px;
        font-size: 32px;
        color: rgba(72, 72, 72, 1);
    }
    input {
        margin-top: 44px;
    }
    .btn {
        margin-top: 55px;
        background-color: rgba(169, 129, 204, 1);
    }
}
.show-new-modal {
    width: 640px;
    padding: 19px 16px 16px 24px;
    background-color: rgba(255, 255, 255, 1);  
    border: solid;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 27%;
    z-index: 1;
    .btn-light {
        font-size: 14px;
        color: rgba(196, 175, 201, 1);
    }
    .btn-primary {
        font-size: 14px;
        background-color: rgba(169, 129, 204, 1);
        color: rgba(255, 255, 255, 1);
    }
}
.container {
    .col-md-4 {
        padding: 12px 8px;
    }
    nav {
        margin: 16px 0 58px;
        li {
            height: 34px;
            margin-left: 8px;
        }
    }
}