h1 {
    padding: 32px 8px;
    font-size: 32px;
    color: rgba(72, 72, 72, 1);
}
.col-md-6 {
    padding-right: 0;
    .input-group {
        margin-top: 55px;
        padding-right: 8px;
    }
    .input-group-append {margin-left: 24px;}
}

.container {
    .col-md-4 {
        padding: 12px 8px;
    }
    .product-card {
        max-width: 1000px;
        background-color: rgba(255, 255, 255, 1);       
        .header-product {       
            display: flex;
            padding: 16px;
            .logo {
                width: 40px; 
                height: 40px; 
                background-color: rgba(105, 121, 150, 1); 
                border-radius: 50%;
            }
            .name {
                margin-left: 12px;
                .product-name {
                    font-size: 16px;
                    color: rgba(31, 31, 31, 0.87);
                }
                .product-company {
                    font-size: 13px;
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }
        .image {
            height: 192px;
            background-color: rgba(105, 121, 150, 1);
        }
        .product-description {
            padding: 16px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.87);
        }
        .actions {
            display: flex;
            padding: 16px;
            font-size: 14px;
            color: rgba(77, 77, 77, 1);
            .action1 {}
            .action2 {
                margin-left: 16px;
            }
        }
    }
    nav {
        margin: 16px 0 58px;
        li {
            height: 34px;
            margin-left: 8px;
        }
    }
}