<div class="product-card" appHover>
    <div class="header-product">
        <div class="logo" style.background-color={{product.logo}}></div>
        <div class="name">
            <div class="product-name">{{product.name}}</div>
            <div class="product-company">{{product.company}}</div>
        </div>
        <div class="delete" (click)="showDetails($event)" id="{{product.id}}">&times;</div>
    </div>
    <div class="image" style.background-color={{product.image}}></div>
    <div class="product-description">{{product.description}}</div>
    <div class="actions">
        <div class="action1">{{product.action1}}</div>
        <div class="action2">{{product.action2}}</div>
    </div>
</div>

<div class="container show-modal" *ngIf="this.show === false">
    <div class="row">
        <div class="col-md-11"><h2>Permissions</h2></div>
        <div class="col-md-1" (click)="closeDetails()">&times;</div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <p>{{product.modal}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="closeDetails()">DECLINE</button>
            <button class="btn btn-primary" (click)="deleteDetails()">ACCEPT</button>
        </div>
    </div>
</div>