<router-outlet></router-outlet>

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="/page1">1</a></li>
            <li class="page-item"><a class="page-link" href="/page2">2</a></li>
            <li class="page-item"><a class="page-link" href="/page3">3</a></li>
            <li class="page-item"><a class="page-link" href="/page4">4</a></li>
            <li class="page-item">
                <a class="page-link" href="/">Next page</a>
            </li>
        </ul>
    </nav>
</div>