@import "./styles/colors.scss";

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

::ng-deep .mat-toolbar.mat-primary {
  display: flex;
  justify-content: space-between;
}

.app-is-mobile .app-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}