@import "../../../styles/colors.scss";

.feedbacks {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.feedback_title {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  margin-bottom: 15px;
}

.feedback_items {
  margin: 15px;
}

.user_information {
  display: flex;
  justify-content: space-between;
  background-color: lightsteelblue;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.col-1 {
  width: 25%;
  display: inline-block;
  padding-left: 10px;
}

.col-2 {
  display: inline-block;
}

h5 {
  text-align: center;
}

h5, p {
	margin: 0;
}

.feedback_delete {
  width: 10%;
  color: $delete-message-color;
  font-size: 26px;
  cursor: pointer;
}

.feedback_delete:hover {
  font-weight: 700;
}

@media (max-width: 560px) {
  .feedback_delete {
    position: absolute;
    margin: -5px 0 0 -10px;
  }
}