@import "../../styles/colors.scss";

.footfeedbacker {
  height: 100%;
  background-color: $feedback-background;
  background-image: url(/assets/images/social_icons/bg-contours.svg);
}

.feedback_information {
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  display: inline-block;
  max-width: 600px;
}

@media (max-width: 768px) {
  .feedback_information {
    display: block;
  }

  .container {
    width: 100%;
    max-width: 1200px;
  }
}